html, body{
  height: 98%;
  width: 99%;
}

#form{
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  padding-top: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}
